  body {
		background-color: #96858F;
		}
	em{
		font-weight: bold;
		}
	h1{
		font-family: tahoma, helvectica,sans-serif;
		}
	h3{
		margin:0;
		}
	label{
		margin:0;
	 }
	p{
		font-size: 10pt;
		font-family: arial, sans-serif;
		}
	.topcorner{
		position:absolute;
		top:0;
		right:0;
	}
	a:link{
	  color: black;
	}
	.footer{
		position: absolute;
		right: 0;
		bottom: 5;
		left: 0;
		padding: 1rem;
		background-color: #efefef;
		text-align: center;
		font-size: 8pt;
	}

